<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Default meta info -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Site Title</title>
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="<%= asset_host %>/favicon-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="<%= asset_host %>/favicon-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="<%= asset_host %>/favicon-48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="<%= asset_host %>/favicon-62.png" sizes="62x62" type="image/png">
    <link rel="icon" href="<%= asset_host %>/favicon-192.png" sizes="192x192" type="image/png">

    <!-- Open Graph -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Site Title" />
    <meta property="og:url" content="https://www.geteverwise.com/" />
    <meta property="og:site_name" content="Site Title" />

    <link rel="stylesheet" href="<%= asset_host %>/css/style.css" />
    <script src="<%= asset_host %>/js/main.js"></script>
  </head>
  <body>

