<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Default meta info -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= full_title(current_page.data.page_title || current_page.data.title) %></title>
    <meta name="keywords" content="<%= current_page.data.keywords %>">
    <meta name="description" content="<%= current_page.data.summary %>">
    <meta name="format-detection" content="telephone=no">

    <%= partial "partials/favicon" %>

    <%= partial "partials/open-graph" %>

    <link rel="stylesheet" href="<%= asset_url('/css/style.css') %>" />

    <%= yield_content(:head) %>
  </head>
  <body class="<%= page_classes %> <%= current_page.data.body_classes %>">
    <%= yield_content(:top_of_body) %>

